# Liens de paiement Stripe (Payment Links)
VITE_STRIPE_PAYMENT_LINK=https://buy.stripe.com/00waEY7x6fT3eKwbmZ2cg02
VITE_STRIPE_LINK_AMPLITUDE=https://buy.stripe.com/00waEY7x6fT3eKwbmZ2cg02
VITE_STRIPE_LINK_AMPLITUDE_PRO=
VITE_STRIPE_LINK_AMPLITUDE_MAX=
